# ========================
# Application
# ========================
NODE_ENV=development
PORT=3000
API_PREFIX=api

# ========================
# Database (SQL Server & Prisma)
# ========================
DB_USER=sa
DB_PASSWORD=your-strong-password-here
DB_PORT=1433
DATABASE_URL="sqlserver://localhost:1433;database=base_nest_api;user=sa;password=your-strong-password-here;encrypt=true;trustServerCertificate=true"

# ========================
# Redis
# ========================
REDIS_HOST=localhost
REDIS_PORT=27002
REDIS_PASSWORD=
REDIS_DB=0

# ========================
# JWT
# ========================
JWT_APP_SECRET=your-app-super-secret-key
JWT_WEB_SECRET=your-web-super-secret-key
JWT_EXPIRES_IN=15m
JWT_APP_REFRESH_SECRET=your-app-super-refresh-secret-key
JWT_WEB_REFRESH_SECRET=your-web-super-refresh-secret-key
JWT_REFRESH_EXPIRES_IN=7d

# ========================
# Rate Limiting
# ========================
THROTTLE_TTL_SHORT=1000
THROTTLE_LIMIT_SHORT=30
THROTTLE_TTL_MEDIUM=10000
THROTTLE_LIMIT_MEDIUM=150
THROTTLE_TTL_LONG=60000
THROTTLE_LIMIT_LONG=600


# ========================
# Logging
# ========================
LOG_LEVEL=debug
