# ========================
# Application
# ========================
NODE_ENV=development
PORT=3000
API_PREFIX=api

# ========================
# Database (MySQL & Prisma)
# ========================
DB_USER=root
DB_PASSWORD=your-strong-password-here
DB_PORT=3306
DATABASE_URL="mysql://${DB_USER}:${DB_PASSWORD}@localhost:3306/base_nest_api"

# ========================
# Redis
# ========================
REDIS_HOST=localhost
REDIS_PORT=27002
REDIS_PASSWORD=
REDIS_DB=0
REDIS_TLS=false

# ========================
# JWT
# ========================
JWT_APP_SECRET=your-app-super-secret-key
JWT_WEB_SECRET=your-web-super-secret-key
JWT_EXPIRES_IN=15m
JWT_APP_REFRESH_SECRET=your-app-super-refresh-secret-key
JWT_WEB_REFRESH_SECRET=your-web-super-refresh-secret-key
JWT_REFRESH_EXPIRES_IN=7d

# ========================
# Rate Limiting
# ========================
THROTTLE_TTL_SHORT=1000
THROTTLE_LIMIT_SHORT=30
THROTTLE_TTL_MEDIUM=10000
THROTTLE_LIMIT_MEDIUM=150
THROTTLE_TTL_LONG=60000
THROTTLE_LIMIT_LONG=600

# ========================
# Logging
# ========================
LOG_LEVEL=debug

# ========================
# MercadoPago
# ========================
MERCADO_PAGO_ACCESS_TOKEN=your_access_token_here
MERCADO_PAGO_PUBLIC_KEY=your_public_key_here
MERCADO_PAGO_WEBHOOK_SECRET=your_webhook_secret_here
MERCADO_PAGO_BASE_URL=https://api.mercadopago.com
MERCADO_PAGO_PIX_EXPIRATION_MINUTES=30


# ========================
# Telemetry API
# ========================
TELEMETRY_API_URL="https://mock-telemetry-api.goodwe.com/v1"

TELEMETRY_API_KEY=""

